body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Press Start 2P";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.auth {
  margin: auto;
  width: 50%;
}

.image {
  width: 100%;
  height: 100%;
  background-color: #f9feb1;
}

.board-image:hover {
  opacity: 55%;
}


.board {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.board-tile {
  overflow: hidden;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .2);
  margin: 2%;
  width: 200px;
  height: 200px;
  flex: 0 0 200px;
  border-radius: 10px;
}

.board-tile:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .4);
  border: 2px solid lightblue;
}

.board-image {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: stretch;
}

.tile.is-parent {
  padding: 0;
}

.tile.is-ancestor {
  margin: 2%;
  display: flex;
  flex-flow: row wrap;
}

.cloudinary-button {
  width: 100%;
  margin-bottom: 5%;
}

#img-preview {
  /* max-width:180px; */
  margin-left: 40%;
  margin-bottom: 5%;
}

.details-img {
  /* max-width: 75%;  */
  max-width: 100%;
  height: auto;
}

.card-img-top {
  border-bottom-left-radius: var(--bs-card-inner-border-radius);
  border-bottom-right-radius: var(--bs-card-inner-border-radius);
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.ReactTags__tag {
  background: #B8DCDB;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 5px 10px;
  margin: 3px 7px 7px 0;
  border-radius: 6px;
  display: inline-block;
}

.ReactTags__remove {
  border: 0px solid black;
  background-color: #B8DCDB;
}

.ReactTags__tagInputField {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.ReactTags__tagInputField:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.search-container {
  width: 75%;
  margin: 10% auto 5% auto;  
}

#search-input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: calc(100% - 52px);
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

.heart {
  font-size: 35px;
  color: red;
}

.on-top {
  display: flex;
  margin: 0;
  padding: 0%;
}

.on-hover {
  display: none;
}

.not-hover {
  position: absolute;
  display: flex;
  opacity: 0;
  align-items: space-between;
  flex-direction: column;
  margin-top: 2%;
}

.board-image:hover .not-hover {
  opacity: 1;
}

.icon {
  width: 100%;
  height: auto;
  padding-top: 11px;
}

.icon-row {
  justify-content: stretch;
}

.not-hover .row {
  width: 190px;
}

.fa-long-arrow-up {
  font-size: 35px;
}

.fa-long-arrow-down {
  font-size: 35px;
}

.arrow-text {
  font-size: 35px;
  padding: 0 7px;
}

.selected-arrow-up {
  color: rgb(3, 255, 104);
}

.selected-arrow-down {
  color: rgb(255, 24, 3);
}

.icon-row:hover {
  background: rgb(255, 255, 255);
  border-radius: 15px;
}

#body {
  background-color: rgb(108, 0, 189);
}

html {
  background-color: rgb(108, 0, 189);
}

#navbar {
  background-color: inherit;
  padding: 7%;
  border-radius: 0 0 85% 85% / 30%;
}

#header {
  border-radius: 0 0 85% 85% / 30%;
  box-shadow: 0 0 5px #212529;
}

.page-header {
  margin: 2% 0 0 10%;
  font-family: "Press Start 2P";
  
}

.card {
  margin: auto;
  width: 80%;
}

#nav-2 {
  margin: auto;
  font-family: "Press Start 2P";
  width: 33%;
  justify-content: center;
  display: flex;
}

#nav-1 {
  margin-right: 0;
  font-family: "Press Start 2P";
  justify-content: space-evenly;
  width: 33%;
}

#nav-3 {
  margin-right: 0;
  font-family: "Press Start 2P";
  width: 33%;
  justify-content: space-evenly;
}

#hr {
  width: 90%;
  margin: auto;
  height: 30px;
}

#image-details-header {
  display: flex;
  padding-top: 3px;
}

#artist {
  max-width: 100%;
  padding-top: 1%;
}

#image-title {
  width: 40%;
  min-width: 60%;
}

#image-card {
  display: flex;
  flex: 0 0 50%;

}

#image-card-left {
  width: 50% !important;
}

#image-card-right {
  width: 50% !important;
  display: flex;
  flex-direction: column;
}

#top-level-image-card {
  margin: auto !important;

  margin-top: 3% !important;
  margin-bottom: 3% !important;
}

#image-links {
  display: flex;
  flex-direction: row;
}

#download-button {

  color: white !important;

}

#image-edit-form {
  width: 60%;
  margin: auto;
  margin-bottom: 5%;
}

.nav-link {
  margin-right: 1em;
}

#upload-button {
  margin-right: 1em;
}

#image-notes {
  white-space: pre-line;
  border: 1px solid black;
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 4%;
  margin-bottom: 8%;
}

.btn-success {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.edit {
  margin-right: 1%;
}

#plants {
  position: absolute;
  top: 10px;
}

#home-page {
  display: flex;
  flex-direction: row
}

.tag-list-item {
  width: 15%;
  margin-top: 2%;
}

#tag-list-title {
  font-family: "Press Start 2P";
}

.invalid-field{
  border-color: #dc3545;
  color: #dc3545;
  background-color: #fff;
}